django
channels
uvicorn
daphne
bleach
requests
django_cron
djangorestframework
whitenoise
python-dotenv
dj-database-url
edge-tts
redis
channels-redis
beautifulsoup4
groq
uvicorn[standard]
redis-server